@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400&display=swap");

$font1: "HK Grotesk", sans-serif;
$font2: "Major Mono Display", monospace;
$font3: "Encode Sans SC", sans-serif;

$light: white;

html {
  scroll-behavior: smooth;
  overflow: hidden;
  height: 100vh;
  font-family: $font1;
}

.shadow-3 {
  text-shadow: 30px 30px 3px rgba(0, 0, 0, 0.3);
}

.shadow-2 {
  text-shadow: 30px 30px 2px rgba(0, 0, 0, 0.3);
}

*::selection {
  background-color: #262626;
  color: #bebebe;
}

body {
  font-size: 16px;
  background: #fdfdfd;
  font-family: $font1;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  .body-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    main {
      height: 100%;
      font-family: $font1;
      .scroll-text {
        overflow: hidden;
        padding-bottom: 35px;
        width: fit-content;
        left: 50px;
        bottom: 50px;
        position: relative;
        font-family: $font1;
        color: #f0f0f0;
        font-size: 15px;
        line-height: 22px;
        transform: rotate(-90deg);
        transform-origin: top left;
        padding-left: 20px;
        .arrow {
          position: absolute;
          width: 8px;
          height: 4px;
          top: -12px;
          left: 0;
          transform: translateY(-50%) rotate(90deg);
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='4' viewBox='0 0 8 4' fill='none'%3E%3Cpath d='M4 4L0 0H8L4 4Z' fill='white'/%3E%3C/svg%3E");
        }
      }
    }
  }
}
.chars {
  text-shadow: 30px 30px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  display: inline-block;
  overflow: hidden;
  .char {
    pointer-events: none;
    --char-index: 0;
    display: inline-block;
    transform: translateY(-22px);
    position: relative;
    top: 0;
    &::before {
      opacity: 0;
      content: attr(data-char);
      position: absolute;
      bottom: -100%;
      left: 0;
    }
  }
  &.show {
    .char {
      transition: all ease-in-out 0.5s;
      transition-delay: calc(var(--char-index) * 30ms);
      &::before {
        opacity: 1;
      }
    }
    &:hover {
      .char {
        top: -100%;
      }
    }
  }
  
}
.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: $font1;
}
