header {
  .logo {
    width: 50px;
    height: 53px;
    z-index: 9999;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    svg {
      position: relative;
      z-index: 99999;
      width: 100%;
      height: 100%;
      fill: transparent;
      -webkit-filter: drop-shadow(30px 30px 4px rgba(0, 0, 0, 0.25));
      filter: drop-shadow(30px 30px 4px rgba(0, 0, 0, 0.25));
      .fake {
        fill: none;
        box-shadow: 30px 30px 4px rgba(0, 0, 0, 0.25);
        stroke: white;
        stroke-width: 5;
        stroke: #fff;
        fill: transparent;
        stroke-dasharray: 230px;
        stroke-dashoffset: 0;
        transition: all 1.5s ease-in-out;
      }
      &:hover {
        .fake {
          stroke-dashoffset: 470px;
        }
      }
    }
  }
  .social-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50px;
    bottom: 50px;
    z-index: 55;
    .social-icon {
      position: relative;
      width: 22px;
      height: 22px;
      transform: translateY(80px);
      &:not(:last-child){
        margin-right: 35px;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.35847 17.7144C7.35847 17.8054 7.25645 17.8781 7.12782 17.8781C6.98145 17.8918 6.87944 17.819 6.87944 17.7144C6.87944 17.6234 6.98145 17.5506 7.11008 17.5506C7.24315 17.537 7.35847 17.6097 7.35847 17.7144ZM5.97903 17.5097C5.94798 17.6006 6.03669 17.7053 6.16976 17.7326C6.28508 17.7781 6.41815 17.7326 6.44476 17.6416C6.47137 17.5506 6.3871 17.446 6.25403 17.405C6.13871 17.3732 6.01008 17.4187 5.97903 17.5097ZM7.93952 17.4323C7.81089 17.4642 7.72218 17.5506 7.73548 17.6552C7.74879 17.7462 7.86411 17.8054 7.99718 17.7735C8.12581 17.7417 8.21452 17.6552 8.20121 17.5642C8.1879 17.4778 8.06814 17.4187 7.93952 17.4323ZM10.8581 0C4.70605 0 0 4.79025 0 11.0999C0 16.1449 3.09597 20.4621 7.51814 21.9815C8.08589 22.0861 8.28548 21.7267 8.28548 21.431C8.28548 21.149 8.27218 19.5932 8.27218 18.6378C8.27218 18.6378 5.16734 19.3202 4.51532 17.2822C4.51532 17.2822 4.00968 15.9584 3.28226 15.6172C3.28226 15.6172 2.26653 14.903 3.35323 14.9166C3.35323 14.9166 4.45766 15.0076 5.06532 16.0903C6.03669 17.8463 7.66452 17.3413 8.29879 17.0411C8.40081 16.3132 8.68911 15.8083 9.00847 15.508C6.52903 15.226 4.02742 14.8575 4.02742 10.4812C4.02742 9.23021 4.36452 8.60243 5.07419 7.80178C4.95887 7.50609 4.58185 6.28692 5.18952 4.71291C6.11653 4.41722 8.25 5.94118 8.25 5.94118C9.1371 5.68643 10.0907 5.55451 11.0355 5.55451C11.9802 5.55451 12.9339 5.68643 13.821 5.94118C13.821 5.94118 15.9544 4.41267 16.8815 4.71291C17.4891 6.29147 17.1121 7.50609 16.9968 7.80178C17.7065 8.60698 18.1411 9.23476 18.1411 10.4812C18.1411 14.8712 15.5286 15.2214 13.0492 15.508C13.4573 15.8674 13.8032 16.5498 13.8032 17.6188C13.8032 19.1519 13.7899 21.0489 13.7899 21.4219C13.7899 21.7176 13.994 22.077 14.5573 21.9724C18.9927 20.4621 22 16.1449 22 11.0999C22 4.79025 17.0101 0 10.8581 0ZM4.31129 15.69C4.25363 15.7355 4.26694 15.8401 4.34234 15.9266C4.41331 15.9993 4.51532 16.0312 4.57298 15.972C4.63064 15.9266 4.61734 15.8219 4.54194 15.7355C4.47097 15.6627 4.36895 15.6309 4.31129 15.69ZM3.83226 15.3215C3.80121 15.3807 3.84556 15.4534 3.93427 15.4989C4.00524 15.5444 4.09395 15.5308 4.125 15.4671C4.15605 15.408 4.11169 15.3352 4.02298 15.2897C3.93427 15.2624 3.86331 15.276 3.83226 15.3215ZM5.26935 16.941C5.19839 17.0002 5.225 17.1366 5.32702 17.2231C5.42903 17.3277 5.55766 17.3413 5.61532 17.2686C5.67298 17.2094 5.64637 17.0729 5.55766 16.9865C5.46008 16.8819 5.32702 16.8682 5.26935 16.941ZM4.76371 16.2723C4.69274 16.3178 4.69274 16.4361 4.76371 16.5407C4.83468 16.6453 4.95444 16.6908 5.0121 16.6453C5.08306 16.5862 5.08306 16.4679 5.0121 16.3633C4.95 16.2586 4.83468 16.2132 4.76371 16.2723Z' fill='white'/%3E%3C/svg%3E%0A");
      }
      &.insta {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.946 5.33081C7.84058 5.33081 5.33569 7.83569 5.33569 10.9412C5.33569 14.0466 7.84058 16.5515 10.946 16.5515C14.0515 16.5515 16.5564 14.0466 16.5564 10.9412C16.5564 7.83569 14.0515 5.33081 10.946 5.33081ZM10.946 14.5886C8.93921 14.5886 7.29858 12.9529 7.29858 10.9412C7.29858 8.92944 8.93433 7.2937 10.946 7.2937C12.9578 7.2937 14.5935 8.92944 14.5935 10.9412C14.5935 12.9529 12.9529 14.5886 10.946 14.5886V14.5886ZM18.0945 5.10132C18.0945 5.82886 17.5085 6.40991 16.7859 6.40991C16.0584 6.40991 15.4773 5.82397 15.4773 5.10132C15.4773 4.37866 16.0632 3.79272 16.7859 3.79272C17.5085 3.79272 18.0945 4.37866 18.0945 5.10132ZM21.8103 6.42944C21.7273 4.67651 21.3269 3.12378 20.0427 1.84448C18.7634 0.565185 17.2107 0.164795 15.4578 0.0769043C13.6511 -0.0256348 8.23608 -0.0256348 6.42944 0.0769043C4.6814 0.159912 3.12866 0.560303 1.84448 1.8396C0.560303 3.1189 0.164795 4.67163 0.0769043 6.42456C-0.0256348 8.2312 -0.0256348 13.6462 0.0769043 15.4529C0.159912 17.2058 0.560303 18.7585 1.84448 20.0378C3.12866 21.3171 4.67651 21.7175 6.42944 21.8054C8.23608 21.908 13.6511 21.908 15.4578 21.8054C17.2107 21.7224 18.7634 21.322 20.0427 20.0378C21.322 18.7585 21.7224 17.2058 21.8103 15.4529C21.9128 13.6462 21.9128 8.23608 21.8103 6.42944V6.42944ZM19.4763 17.3914C19.0955 18.3484 18.3582 19.0857 17.3962 19.4714C15.9558 20.0427 12.5378 19.9109 10.946 19.9109C9.35425 19.9109 5.9314 20.0378 4.49585 19.4714C3.53882 19.0906 2.80151 18.3533 2.41577 17.3914C1.84448 15.9509 1.97632 12.533 1.97632 10.9412C1.97632 9.34937 1.84937 5.92651 2.41577 4.49097C2.79663 3.53394 3.53394 2.79663 4.49585 2.41089C5.93628 1.8396 9.35425 1.97144 10.946 1.97144C12.5378 1.97144 15.9607 1.84448 17.3962 2.41089C18.3533 2.79175 19.0906 3.52905 19.4763 4.49097C20.0476 5.9314 19.9158 9.34937 19.9158 10.9412C19.9158 12.533 20.0476 15.9558 19.4763 17.3914Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
      &.linkedin {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.3125 0H1.55762C0.698242 0 0 0.708008 0 1.57715V20.2979C0 21.167 0.698242 21.875 1.55762 21.875H20.3125C21.1719 21.875 21.875 21.167 21.875 20.2979V1.57715C21.875 0.708008 21.1719 0 20.3125 0ZM6.61133 18.75H3.36914V8.31055H6.61621V18.75H6.61133ZM4.99023 6.88477C3.9502 6.88477 3.11035 6.04004 3.11035 5.00488C3.11035 3.96973 3.9502 3.125 4.99023 3.125C6.02539 3.125 6.87012 3.96973 6.87012 5.00488C6.87012 6.04492 6.03027 6.88477 4.99023 6.88477V6.88477ZM18.7646 18.75H15.5225V13.6719C15.5225 12.4609 15.498 10.9033 13.8379 10.9033C12.1484 10.9033 11.8896 12.2217 11.8896 13.584V18.75H8.64746V8.31055H11.7578V9.73633H11.8018C12.2363 8.91602 13.2959 8.05176 14.873 8.05176C18.1543 8.05176 18.7646 10.2148 18.7646 13.0273V18.75V18.75Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}
